.login__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-top: 6rem !important;
}

.login__container-img {
    width: 100%;
}

.login__container-img img {
    width: 100%;
}

.login__container-form{
    margin-top: 8rem;
    width: 100%;
}

.form__container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form__container input {
    padding: 0.9rem 0.5rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    border: 0;
}

.form__btn {
    margin-top: 2rem;
    text-align: center;
    padding: 0.6rem 2.3rem;
    background: var(--color-primary);
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 0.4rem;
}

.form__radio {
    display: flex;
    align-items: center;
}

.form__radio input[type="radio"] {
    margin-right: 2rem; 
    text-align: center;
  }

  .form__radio label {
    margin-right: 0.7rem; 
  }