/* -------------------NAVBAR-------------------- */
nav {
    width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    position: fixed;
    background-color: var(--color-bg);
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid var(--color-white);
    box-shadow: 0 1rem 1rem var(--color-primary-variant);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav__items {
   display: flex; 
   gap: 3.5rem;
}

header{
    background: var(--color-bg);
    padding-bottom: var(--bottom-section-padding);
}

header h1{
    font-size: 3rem;
}

.header__container {
    margin-top: 10rem !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.header__content {
    width: 100%;
}

.header__image{
    width: 100%;
}
.header__image img {
    width: 100%;
    /* height: 120px; */
}

/* FEATURE */
.feature__container{
    background: var(--color-bg);
}
.feature__image {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feature__image img {
    width: 90px;
}

/* resident */
.residence__container {
    background: #202d3b;
    padding-top: 80px;
   
}

.residence__container h1 {
    margin-bottom: 30px;
}

.residence__image {
    width: 100%;
    padding-left: 20px;
}

.residence__image img {
    gap: 2rem;
    width: 90%;
    /* height: 120px; */
}

.residence__card-base{
    display: flex;
    gap: 1.5rem;
}

.residence__card-base >div {
    display: flex;
    gap: 0.7rem;
}

.icon  {
    color: var(--color-primary);
    font-size: 26px;
}

.residence__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

/* choose */
.choose__container h1 {
    margin: 8rem 0 3rem;
    text-align: center;
}



.choose__content {
    display: flex;
}

.choose__card {
    width: 100%;
    text-align: center;
}

.icon-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 190px; 
    height: 190px; 
    border-radius: 50%; 
    background-color: #122B34;
    padding: 5px;
    margin-bottom: 1.5rem;
}

.choose_icon {
    font-size: 65px;
}

.choose__card h2 {
    margin-bottom: 1rem;
}

.choose__card p {
    width: 90%;
}

.choose__base {
    margin: 5rem auto;
    width: 70%;
}

.choose__base-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.choose__base-2 h4 {
    font-weight: 300;
}