/* -------------------NAVBAR-------------------- */
.active {
    border-bottom: 3px solid var(--color-primary);
}
nav {
    width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    position: fixed;
    background-color: var(--color-bg);
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid var(--color-white);
    box-shadow: 0 1rem 1rem var(--color-primary-variant);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo {
    font-size: 2.4rem;
    font-weight: 800;
}

.nav__items {
   display: flex; 
   gap: 3.5rem;
}

.nav__signin-signup {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

#menu__btn, #close__btn {
    display: none;
}

/* -------------------HEADER-------------------- */

header{
    background: var(--color-bg);
    padding-bottom: var(--bottom-section-padding);
}

header h1{
    font-size: 3rem;
}

.header__container {
    margin-top: 10rem !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.header__content {
    width: 100%;
}

.header__image{
    width: 100%;
}
.header__image img {
    width: 100%;
    /* height: 120px; */
}

.header__base-search {
    background: red;
    width: 70%;
    height: 2rem;
    margin-top: -13%;
    margin-left: 97%;
}

/************************ FEATURE ************************/
.feature__container{
    background: var(--color-bg);
}
.feature__image {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feature__image img {
    width: 90px;
}

/* resident */
.residence__container {
    background: #202d3b;
    padding-top: 80px;
}

.residence__container h1 {
    margin-bottom: 30px;
}

.residence__image {
    width: 100%;
    padding-left: 20px;
}

.residence__image img {
    gap: 2rem;
    width: 90%;
    /* height: 120px; */
}

.residence__card-base{
    display: flex;
    gap: 1.5rem;
}

.residence__card-base >div {
    display: flex;
    gap: 0.7rem;
}

.icon  {
    color: var(--color-primary);
    font-size: 26px;
}

.residence__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

/************************ CHOOSE ************************/
.choose__container h1 {
    margin: 8rem 0 3rem;
    text-align: center;
}

.choose__content {
    display: flex;
}

.choose__card {
    width: 100%;
    text-align: center;
}

.icon-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 190px; 
    height: 190px; 
    border-radius: 50%; 
    background-color: #122B34;
    padding: 5px;
    margin-bottom: 1.5rem;
}

.choose_icon {
    font-size: 65px;
}

.choose__card h2 {
    margin-bottom: 1rem;
}

.choose__card p {
    width: 90%;
}

.choose__base {
    margin: 5rem auto;
    width: 70%;
}

.choose__base-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.choose__base-2 h4 {
    font-weight: 300;
}

/************************ HELP ************************/
.help__container {
    background: #202d3b;
    padding-top: 8rem;
}

.help__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.help__image {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.help__image img {
    width: 305px;
    height: 400px;
}

.help__word h1 {
    width: 50%;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}

.help__word h5 {
    font-weight: 300;
    width: 80%;
    margin-bottom: 2rem;
}

/************************ SIMPLY ************************/
.simply__container {
    padding-top: 8rem;
}

.simply__content {
    display: flex;
}

.simply__content-left {
    width: 100%;
    display: grid;
    place-items: center;
}

.simply__content-left h1{
    width: 40%;
    font-size: 3rem;
    line-height: 1.1;
}

.simply__content-right {
    width: 100%;
}

.simply__content-right h5 {
    width: 70%;
    font-weight: 300;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

/************************ FOOTER ************************/
footer {
    background: #18202B;
    padding: 8rem 0 8rem;
}
footer h4{
    font-weight: 300;
    line-height: 2.2;
    opacity: .6;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
}

.footer__1-socials {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.copyright {
    margin-top: 4rem;
    border-top: 1px solid var(--color-light);
    padding: 1.4rem;
    text-align: center;
}

/* -------------------General-MEDIA QUERIES (TABLET)-------------------- */
@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md) !important; 
    }

    section {
        padding-bottom: var(--bottom-section-padding-mobile);
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.1rem;
    }
    nav {
        background-color: var(--color-bg);
    }

    .nav__container {
        position: relative;
        width: 100vw;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav__container-logo {
        margin-left: 2rem;
    }

    .nav__items {
        position: fixed;
        top: 6rem;
        right: 0;
        background: var(--color-white);
        height: max-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        z-index: 3;
        display: none;
    }

    .nav__signin-signup {
        display: none;
    }

    #menu__btn {
        display: block;
        background: var(--color-bg);
        color: var(--color-white);
        font-size: 2rem;
    }
    #close__btn {
        display: none;
        background: var(--color-bg);
        color: var(--color-white);
        font-size: 2rem;
    }

    /* header */
    .header__container {
        display: flex;
        flex-direction: column;
    }

    .header__content {
        text-align: center;
    }
    
    .header__content h1 {
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    
    .header__content p {
        margin-bottom: 1rem;
    }

    .header__base-search {
        margin: 0; 
    }

    /* choose */
    .choose_icon {
        font-size: 58px;
    }

    /* help-tablet */
    .help__container {
        width: 100%;
        padding: 1rem;
    }
    .help__content {
        display: flex;
        flex-direction: column;
    }
    .help__image img {
        width: 100%;
        margin-bottom: 1rem;
    }

    .help__word h1 {
        width: 70%;
        
    }

    .help__word h5 {
        width: 85%;

    }
    /* simply */
    .simply__content-left h1{
        width: 81%;
    }

    .simply__content-right h5 {
        width: 81%;
    }

    /* footer */
    .footer__container {
        grid-template-columns: 1fr 1fr;
    }

}


/* -------------------General-MEDIA QUERIES (MOBILE PHONES)-------------------- */
@media screen and (max-width:600px) {
    html {
        font-size: 14px;
    }
    
    body {
        background: red;
    }

    .container {
        background: red;
    }

}

